<?xml version="1.0" encoding="UTF-8"?>
<config>
    <header>
        <titre>Le monde vous attend</titre>
        <image>images/headers.jpg</image>
    </header>
    <nav>
        <etudiant>
            <nom>HAMADENE</nom>
            <prenom>Liza</prenom>
            <specialite>TI</specialite>
            <section>1</section>
            <groupe>1</groupe>
            <email>hamadeneliza234@gmail.com</email>
        </etudiant>
        <etudiant>
            <nom>ARBID</nom>
            <prenom>Kawther</prenom>
            <specialite>TI</specialite>
            <section>1</section>
            <groupe>1</groupe>
            <email>arbidkawther@gmail.com</email>
        </etudiant>
    </nav>
</config>

