/* Style global pour le corps de la page */
body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4; 
    display: flex; 
    height: 100vh; 
}

/* Conteneur principal englobant la barre latérale et le contenu principal */
.container {
    display: flex; 
    width: 100%; 
}

/* Style pour la barre latérale */
.sidebar {
    background-color: #e7d6ec; 
    color: #08020a; 
    width: 20%; 
    padding: 5px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

/* Titre de la barre latérale */
.sidebar h2 {
    margin-top: 0; 
    font-size: 1.5em; 
    text-align: center; 
    border-bottom: 2px solid #ecf0f1; 
    padding-bottom: 10px; 
}

/* Liste dans la barre latérale */
.sidebar ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

/* Éléments de la liste dans la barre latérale */
.sidebar li {
    margin: 10px 0; 
}

/* Style des liens dans la barre latérale */
.sidebar a {
    color: #ffffff; 
    text-decoration: none; 
    display: block; 
    text-align: center; 
    margin-top: 20px; 
    padding: 10px; 
    background-color: #282b68; 
    border-radius: 5px; 
}


/* Changement de couleur au survol des liens dans la barre latérale */
.sidebar a:hover {
    background-color: #c28cce; 
}

/* Contenu principal */
.main {
    flex: 1; 
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* En-tête du contenu principal */
.header {
    position: relative; 
    width: 100%; 
    text-align: center; 
}

/* Image dans l'en-tête */
.header img {
    width: 100%; 
    height: auto; 
    max-height: 250px; 
    object-fit: cover; 
}

/* Titre dans l'en-tête */
.header h1 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    background-color: rgba(0, 0, 0, 0.194); 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 2.5em; 
    text-align: center; 
    font-family: 'Shadows Into Light', cursive;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    letter-spacing: 2px; 
}

/* Section de recherche et résultats */
.search-section, .results-section {
    width: 100%; 
    max-width: 600px; 
    margin-top: 20px; 
    text-align: center;
}

/* Titres des sections de recherche et résultats */
.search-section h2, .results-section h2 {
    margin-bottom: 10px; 
    color: #310c3f; 
}

/* Formulaire de recherche */
#search-form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px  60px; 
    justify-content: center; 
}

/* Champs de saisie et bouton de validation */
#search-form input {
    width: 95%; 
    padding: 5px;
    font-size: 1em;
    border: 3px solid #ccc;
    border-radius: 8px;
}

/* Style du bouton de validation*/
#search-form button {
    grid-column: 2; 
    padding: 8px;
    font-size: 1em;
    background-color: #282b68 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Changement de couleur au survol du bouton */
#search-form button:hover {
    background-color: #c28cce; 
}

/* Liste des résultats de recherche */
#search-results {
    list-style-type: none; 
    padding: 0; 
}

.edit-icon, .delete-icon {
    cursor: pointer;
    margin-left: 10px;
}
.edit-icon:hover {
    color: green;
}
.delete-icon:hover {
    color: red;
}

